* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDEFF2 !important;
}
/* common colors */

.color-ADB-12 {
    color: #ADB8CC;
    font-size: 12px;
    font-weight: 700;

}
.color-ADB-14 {
    color: #ADB8CC;
    font-size: 14px;
    font-weight: 700;

}
.color-ADB-16 {
    color: #ADB8CC;
    font-size: 16px;
    font-weight: 700;
}

.color-ADB-10 {
    color: #ADB8CC;
    font-size: 10px;
    font-weight: 700;

}

.color-7D8-10 {
    color: #7D8FB3;
    font-size: 10px !important;
    font-weight: 700;

}
.color-7D8-12 {
    color: #7D8FB3;
    font-size: 12px;
    font-weight: 700;

}

.color-7D8-14 {
    color: #7D8FB3;
    font-size: 14px;
    font-weight: 700;

}

.color-4D5-18 {
    color: #4D5E80;
    font-size: 18px;
    font-weight: 700;
}
.color-4D5-12 {
    color: #4D5E80;
    font-size: 12px;
    font-weight: 700;
}
.color-4D5-14 {
    color: #4D5E80;
    font-size: 14px;
    font-weight: 700;
}

.color-6B7-16 {
    color: #6B7A99;
    font-size: 16px;
    font-weight: 700;

}
.color-6B7-12 {
    color: #6B7A99;
    font-size: 12px;
    font-weight: 700;

}
.color-6B7-10 {
    color: #6B7A99;
    font-size: 10px;
    font-weight: 700;

}
.D-flex{
    display: flex;
    align-items: center;
}

main{
    height: 10% !important;
}